.bubbleMan{
    display: flex;
    flex-direction: row;

}

.buttonContainer{
    margin-top: 20px;
}

.contentContainer{
    padding-top: 100px;
  }

.cardContainerTwo{
    display: flex;
    justify-content: center;
}


.firstCardContainer{
    display: flex;
    justify-content: center;

}

.secondCardContainer{
    display: flex;
    justify-content: center;
    
}

.progressBar {
    width: 100%; 
    height: auto;
    display: block; 
    margin-top: 20px;
  }

input {
    padding: 10px;
    font-size: 16px;
}

.contentPopUpContainer{
    background-color: black;
    border-radius: 16px;
}


.contentContainerClose{
    display: flex;
    justify-content: flex-end;
}

.backContainer{
    display: flex;
    margin-top: 30vh;
}

.textContainer {
    text-align: left;
    margin: 0 auto; 
    padding: 20px; 
    max-width: 800px; 
  }